.page {
  min-width: 1100px;

  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 80px;
}

.nav__logo {
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  max-width: 709px;
  margin-left: 80px;
  margin-top: 183px;
  margin-bottom: 28px;
}

.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 586px;
  right: 5px;
  top: 124px;
  position: absolute;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__paragraph {
  padding: 0;
  margin: 0;
}

.recipes {
  background-color: #0a2850;
  background-image: url("/images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  color: #fff;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-left: 80px;
  padding-top: 100px;
  padding-bottom: 24px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-left: 80px;
  padding-bottom: 80px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  padding-bottom: 24px;
  border: 0;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 215px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0px auto 80px;
  padding-top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.form {
  padding: 20px;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reservation__form-fieldset {
  display: flex;
  flex-direction: column;
}

.reservation__form-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
}

.reservation__form-input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 15px 20px;
  color: #838383;
}

.reservation__form-submit {
  border-radius: 4px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 20px;
}

.reservation__form-submit:hover {
  opacity: 70%;
}

.reservation__form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
  gap: 12px;
}

.reservation__form-checkbox-input {
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.reservation__form-checkbox-input:checked {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
}
